.all_products_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.description_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.description {
  width: 1200px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: solid 1px rgb(207, 207, 207);
}
.description > div {
  display: flex;
  flex-direction: row;
  background-color: #ffff;
}
.description > div > div {
  margin: 20px;
}
.title {
  font-size: 20px;
  font-weight: bold;
  max-width: 200px;
}
.add_to_cart_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  font-size: 15px;
  position: relative;
}
.button_wrapper {
  position: absolute;
  top: 150px;
  left: 246px;
}
.added_alert {
  font-size: 15px;
  color: rgb(146, 255, 146);
  margin-left: 10px;
}
.price {
  font-size: 20px;
  font-weight: bold;
}